        body ::-webkit-scrollbar {
            display: fixed;
        }

        .top {
            overflow: hidden;
            background-color: #3fbbc0;
            padding: 30px;
        }

        .head1 {
            font-size: 25px;
            font-weight: 600;
            color: white;
        }

        .head2 {
            font-size: 25px;
            font-weight: 600;
            color: white;
        }

        .head-right {
            float: right;
        }

       

        .nav-item a {
            font-weight: 700;
            font-size: 30px;
        }

        .nav-item a:hover {
            border-radius: 20px;
            background-color: #3fbbc0;

            color: white;

        }

        .nav-item-w a {
            font-weight: 700;
            font-size: 30px;

        }

        .nav-item-w a:hover {
            border-radius: 20px;
            background-color: red;

            color: white;

        }

        .dropdown-menu dropdown-item a:hover {
            background-color: #3fbbc0;
        }

        body {
            background: #3fbbc0 !important;
            font-family: 'Muli', sans-serif;
        }

        h1 {
            color: #fff;
            padding-bottom: 2rem;
            font-weight: bold;
        }

        a {
            color: #333;
        }

        a:hover {
            color: #E8D426;
            text-decoration: none;
        }

        .form-control:focus {
            color: #000;
            background-color: #fff;
            border: 2px solid #E8D426;
            outline: 0;
            box-shadow: none;
        }

        .btn {
            background: #28a745;
            border: #E8D426;
        }

        .btn:hover {
            background: #28a745;
            border: #E8D426;
        }

        .my-custom-scrollbar {
            position: relative;
            height: 200px;
            overflow: auto;
            }
            .table-wrapper-scroll-y {
            display: block;
            }
            tbody{
                max-height: 10vh;
                overflow: auto;
                }