{% load static %}
{% comment %} {% block title %}dr_login{% endblock title %} {% endcomment %}
{% block body %}
<!DOCTYPE html>
<html>
<head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.9.2/html2pdf.bundle.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
</head>
<style>
    table
    {
        width : 600px;
        height : 200px;
        text-align : center;
        font-weight : bold;
    }
</style>
<body>
   
    <div id="invoice">
    <center>
        <h1 style="color:red; padding-top:50px" >Appointment Details and Invoice</h1> <br><br>
    <table border="2">
        <tr>
          <th style="color:red">Title</th>
          <th style="color:red">Details</th>
          
          
        </tr>
        
        <tr>
            <td>Name</td>
          <td>{{ last_added_form.name }}</td>

           
        </tr>

        <tr>
            <td>Gender</td>
          <td>{{ last_added_form.gender }}</td>
        </tr>

        <tr>
            <td>DOB</td>
          <td>{{ last_added_form.dob }}</td>
        </tr>
        <tr>
            <td>Reason to Visit</td>
            <td>{{ last_added_form.visit }}</td> 
        </tr>

        <tr>   
            <td>Appointment Date</td>
            <td>{{ last_added_form.adate }}</td> 
          </tr>

          <tr>   
            <td>Time Slot</td>
            <td>{{ last_added_form.atime }}</td> 
          </tr>

          {% comment %} <tr>   
            <td>Card Holder Name</td>
            <td>{{ last_added_form2.name }}</td> 
          </tr>

          <tr>   
            <td>Card Number </td>
            <td>{{ last_added_form2.cardno }}</td> 
          </tr> {% endcomment %}

          <tr>   
            <td>Payment </td>
            <td>100/-</td> 
          </tr>
      </table>
      <h6>If you want to cancel your Appointment, kindly send message in Contact us form at Home page</h6>
      <h6 style="color:red">B/O: Compulsory bring this PDF with you when you will visit for the checkup...</h6>
    </center>
</div>
<br><br>
    <center>
    <button class="btn btn-success" id="download"> Download pdf</button>
    <br><br>
    

    <button class="btn btn-primary"  id="download"> <a class="nav-link active" style="text-decoration:none; color:white; font-weight:600;" aria-current="page" href="../../user_panel">Back to User Panel</a></button>

    </center>

    
</body>
<script>
    window.onload = function () {
        document.getElementById("download")
            .addEventListener("click", () => {
                const invoice = this.document.getElementById("invoice");
                console.log(invoice);
                console.log(window);
                var opt = {
                    margin: 1,
                    filename: 'Appointment_details.pdf',
                    image: { type: 'jpg', quality: 0.98 },
                    html2canvas: { scale: 2 },
                    jsPDF: { unit: 'in', format: 'letter', orientation: 'portrait' }
                };
                html2pdf().from(invoice).set(opt).save();
            })
    }
</script>   
</html>
{% endblock body %}